html,body {
    background-color: #222;
    color: white;
    font-family: "Roboto";
    margin: 0;
}
a {
    color: white;
    text-decoration: none;   
}
nav a {
    color: #999;
}
nav a.selected {
    color: white;
}
header {
    height: 40px;
    background-color: #292929;
    text-align: right;
}
header ul {
    list-style:none;
    margin: 0;
    padding: 10px;
}
header ul li {
    display: inline-block;
    width: 20px;
    text-align: center;
}
header ul li i {
    color: #999;
}
header ul li i:hover {
    color: white;
}
header ul #closewin i:hover {
    color: red;
}
#wrapper {
    display: flex;
    height: calc(100vh - 40px);
}
nav {
    background-color: #333;
    max-width: 400px;
    min-width: 150px;
    width:20%;
    transition: all 1s;
}
nav.hidden {
    max-width: 40px;
    min-width: 40px;
    width: 40px;
}
nav #drawer {
    padding: 5px 10px;
    height: 30px;
}
nav ul {
    list-style: none;
    font-weight: 500;
    font-size: 1.1em;
    padding: 10px;
}
nav ul li {
    height: 30px;
}
nav ul li:hover{
    background-color: #444;
}
nav ul li span {
    text-align:right;
}
#main {
    width: auto;
    padding: 0 20px;
}
